* {
    font-family: arial;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover{
    background-color: #39aae1;
    color: #fff;
}
#baner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: auto;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2{
    color: #fff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}
.banner_title {
    font-size: 21px;
}
.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}
.days {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
    border-bottom: 1px solid #ffffff2b;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_text2 {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top: 10px;
}
.widget_title_bar2 {
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top: 10px;
    margin-bottom: 30px;
}
.widget_body2 {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
}
.widget_body2 div {
    width: 150px;
    height: 150px;
}
.widget_body2 a {
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin-top: 38%;
    color: white;
    
}
.quadrado1,
.quadrado2,
.quadrado3,
.quadrado4,
.quadrado5,
.quadrado6 {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.quadrado1,
.quadrado2 {
    background-color: #39aae1;
}
.quadrado3,
.quadrado4 {
    background-color: #0079c7;
}
.quadrado5,
.quadrado6 {
    background-color: #2b4c99;
}
.phone {
    display: flex;
    align-items: center;
    padding: 8px;
    border-top: 2px solid #2b4c99;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #2b4c99;
    
}
.phone img {
    margin-right: 7px;
}
.email {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #2b4c99;
}
.email img {
    margin-right: 7px;
}
.cep {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #2b4c99;
}
.cep img {
    margin-right: 7px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000;
}
article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
    flex: 1;
}
.fm1, .fm2, .fm3 {
    flex: 1;
    color: #fff;
}
.fm1 {
    background-color: #39aae1;
}
.fm2 {
    background-color: #0079c7;
}
.fm3 {
    background-color: #2b4c99;
}
.footer_menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
}
.footer_menu a h1 {
    font-size: 25px;
    text-shadow: 0px 1px 0px #000;
}
.footer_menu a h2 {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0px 1px 0px #000;
}
.footer_area {
    display: flex;
}
.footer_areaitem {
    color: #fff;
    flex: 1;
}
.flexcolumn {
    flex-direction: column;
}
footer .widget_title_text {
    color: white;
    margin-left: 10px;
}
.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
footer .widget_title_bar {
    margin-bottom: 25px;
    margin-left: 10px;
}
.Medicenter_clinic_text {
    font-size: 13px;
    max-width: 280px;
    margin-bottom: 30px;
    color: #999;
}
.Medicenter_clinic_info {
    display: flex;
    justify-content: space-between;
    color: #999;
    margin-right: 62px;
    font-size: 15px;
}
.Medicenter_clinic_info2 {
    display: flex;
    justify-content: space-between;
    color: #999;
    font-size: 15px;
    margin-right: 10px;
}
.Medicenter_clinic_info2 a{
    color: #ccc;
    text-decoration: none;
}
.Latest_posts_text a {
    text-decoration: none;
    color: #eee;
    font-size: 15px;
}
.Latest_posts_desc {
    margin-left: 10px;
    margin-bottom: 5px;
}
.years  {
    color: #39aae1;
    margin-bottom: 30px;
    margin-left: 10px;
}
.Latest_tweets_text a {
    color: #ccc;
}
.Latest_tweets_desc {
    color: #999;
    margin-left: 10px;
    margin-bottom: 5px;
}
.days_ago {
    color: #39aae1;
    margin-left: 10px;
    margin-bottom: 30px;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width: 600px) {
    .banner_headline h1 {
        font-size: 55px;
        padding: 20px;
    }
    .banner_headline h2 {
        font-size: 17px;
        padding: 20px;
        margin-bottom: 50px;
    }
    .banner_options {
        height: auto;
        flex-direction: column
    }
    .container {
        flex-direction: column;
    }
    #geral section,
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy {
        padding-left: 30px;
    }
    .widget2 {
        padding-left: 12px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}